body {
    font-family: Arial, sans-serif;
    background-color: #364459;
    margin: 0;
    padding: 20px;
    background-image: url(cgg.jpg);
}

.container {
    max-width: 10000px;
    margin: auto;
    background: rgb(248, 161, 219);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(87, 12, 79, 0.1);
    /* background-image: url(mmmm.jpg);
*/}

.top-section {
    text-align: center;
    margin-bottom: 20px;
}

.image {
    margin-bottom: 15px;
}

.image img {
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    object-fit: cover
}

img{
    transition: transform 0.2s;
  }
  
  img:hover{
    transform: rotate(360deg);
  }

h1 {
    margin: 10px 0;
    color: rgb(48, 21, 101);
}

h2 {
    margin: 5px 0;
    color: #555;
}

p {
    margin: 5px 0;
}

.bottom-section {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.toggle-btn {
    background-color: palevioletred;
    color: hsl(216, 82%, 35%);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px grey;
}

.toggle-btn:hover {
    background-color: green;
}

.options {
    display: none;
}

.options h3 {
    margin-top: 0;
}

.options ul {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 5px 0;
}

